<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        {% block css %}{% endblock css %}
        {% comment %} <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}"> {% endcomment %}
    </head>
    <body>
        {% block header %} {% include 'misc/header.html' %} {% endblock %}
        <main class="main container"> 
            {% block content %}{% endblock content %}
        </main>
        {% include 'misc/footer.html' %}
            {% block style %}{% endblock style %}
    </body>
</html>
