{% extends "recipe/base.html" %}
{% csrf_token %}
{% load user_filters %}
{% load static %}
{% block title %}Рецепты{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">
{% endblock css %}

{% block content %}
{% load thumbnail %}
    <div class="main__header">
            <h1 class="main__title">Рецепты</h1>
            {% include 'recipe/tags.html' %}           
        </div>
        <div class="card-list">
        {% for recipe in page %}
        <div class="card" data-id="{{ recipe.id }}">
            {% thumbnail recipe.image "960x500" crop="center" upscale=True as im %}
            <a href="{% url 'recipe_view' recipe.id %}" class="link" target="_blank"><img src="{{ im.url }}" alt="Заглавная картинка" class="card__image"></a>
            {% endthumbnail %}
            <div class="card__body">
                <a class="card__title link" href="{% url 'recipe_view' recipe.id %}" target="_blank">{{ recipe.name }}</a>
                <ul class="card__items">
                    {% for tag in recipe.tags.all %}
                        {% if tag.tag == 'Завтрак' %}
                        <li class="card__item"><span class="badge badge_style_green">{{ tag }}</span></li>
                        {% elif tag.tag == 'Обед' %}
                        <li class="card__item"><span class="badge badge_style_orange">{{ tag }}</span></li>
                        {% else %}
                        <li class="card__item"><span class="badge badge_style_purple">{{ tag }}</span></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="card__items card__items_column">
                    <p class="card__text"><span class="icon-time"></span>{{ recipe.time }} мин.</p>
                    <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author %}" style="color: black">{{ recipe.author.last_name }} {{ recipe.author.first_name }}</a></p>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="card__footer">
                {% if not recipe|in_shopping:request.user %}
                <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
                {% else %}
                <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span>Рецепт добавлен</button>
                {% endif %}
                {% if recipe.author != request.user  %}
                    {% if not recipe|favorite_list:request.user %}
                        <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
                        {% else %}
                        <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
                        {% endif %}
                    {% endif %}
        </div>
        {% endif %}
    </div>
{% endfor %}

{% for tag in tags %}
{{ tag.name }}
{% endfor %}

{% if page.has_other_pages %}
    {% include "misc/paginator.html" with items=page paginator=paginator %}
{% endif %}
{% endblock content %}


{% block style %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'indexAuth.js' %}"></script>
{% endblock style %}