<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Последние обновления</title>
    </head>
    
    <body>
        <h1>Последние обновления на сайте</h1>
        {% for recipe in recipe_list %}
            <p>{{ recipe.author|linebreaksbr }}</p>
            <p>{{ recipe.text|linebreaksbr }}</p>
            <p>{{ recipe.name|linebreaksbr }}</p>
            {% load thumbnail %}
            {% thumbnail recipe.image "560x139" crop="center" upscale=True as im %}
                <img class="card-img" src="{{ im.url }}">
            {% endthumbnail %}
            -------------------
            {% for recipe in recipe_ingr %}
                <p>{{ recipe.ingredient }}</p> <p>{{ recipe.weight}}
                </p>
            {% endfor %}
            --------------------
            {% for recipe in recipe.tag.all %}
                <p>{{ recipe }}</p>   
            {% endfor %}
            <p>{{ recipe.time|linebreaksbr }}</p>
            --------------------------------------

            {% for recipe in recipe.ingredient.all %}
            <p>{{ recipe }}</p>   
        {% endfor %}
        
        <hr>
        {% endfor %}
        <a href="{% url 'recipe_new' %}"> asdas</a>
    </body>
</html>