{% extends "recipe/base.html" %}
{% block title %}Рецепты{% endblock title %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static '/pages/myFollow.css' %}">
{% endblock css %}

{% block content %}
{% load thumbnail %}
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">
    {% for user in user_list %}
        <div class="card-user" data-author="{{ user.id }}">
        <div class="card-user__header">
            <h2 class="card-user__title">{{ user.first_name }} {{ user.last_name }}</h2>
        </div>
        <div class="card-user__body">
            <ul class="card-user__items">
                {% for recipe in recipe_list %}
                    {% if user == recipe.author %}
                    <li class="card-user__item">
                        <div class="recipe">
                            {% thumbnail recipe.image "960x500" as im %}
                            <img src="{{ im.url }}" alt="картинка" class="recipe__image">
                            {% endthumbnail %}
                            <h3 class="recipe__title">{{ recipe.name }}</h3>
                            <p class="recipe__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
                        </div>
                        {% endif %}
                        {% endfor %} 
                </li>
                <li class="card-user__item">
                    <a href="#" class="card-user__link link">Еще {{ recipe_list.count }} рецептов...</a>
                </li>
            </ul>
        </div>
        <div class="card-user__footer">
            <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
        </div>
        </div>
    {% endfor %}
    {% endblock content %}    
    <!-- <nav class="pagination" aria-label="Search results pages">
        <ul class="pagination__container">
            <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-left"></span></a></li>
            <li class="pagination__item pagination__item_active"><a class="pagination__link link" href="#">1</a></li>
            <li class="pagination__item"><a class="pagination__link link" href="#">2</a></li>
            <li class="pagination__item"><a class="pagination__link link" href="#">3</a></li>
            <li class="pagination__item"><a class="pagination__link link" href="#">4</a></li>
            <li class="pagination__item"><a class="pagination__link link" href="#">5</a></li>
            <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-right"></span></a></li>
        </ul>
    </nav> -->

{% block style %}
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>
{% endblock style %}>
