<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            {% if user.is_authenticated %}
            <ul class="nav__items list">
                <li class="nav__item {% if 'index' in request.resolver_match.url_name %}nav__item_active{% endif %}"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                <li class="nav__item {% if 'subscriptions' in request.resolver_match.url_name %}nav__item_active{% endif %}"><a href="{% url 'subscriptions' %}" class="nav__link link">Мои подписки</a></li>
                <li class="nav__item {% if 'recipe_new' in request.resolver_match.url_name %}nav__item_active{% endif %}"><a href="{% url 'recipe_new' %}" class="nav__link link">Создать рецепт</a></li>
                <li class="nav__item {% if 'favorites' in request.resolver_match.url_name %}nav__item_active{% endif %}"><a href="{% url 'favorites' %}" class="nav__link link">Избранное</a></li>
                <li class="nav__item {% if 'purchases' in request.resolver_match.url_name %}nav__item_active{% endif %}"><a href="{% url 'purchases' %}" class="nav__link link">Список покупок</a> <span class="badge badge_style_blue nav__badge" id="counter">{{ purchase_counter }}</span></li>
            </ul>
            <ul class="nav__items list">
                <li class="nav__item {% if 'password_change' in request.resolver_match.url_name %}nav__item_active{% endif %}"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
                <li class="nav__item {% if 'logout' in request.resolver_match.url_name %}nav__item_active{% endif %}"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
            </ul>
            {% else %}
            <ul class="nav__items list">
                <li class="nav__item {% if 'login' in request.resolver_match.url_name %}nav__item_active{% endif %}"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
                <li class="nav__item {% if 'registration' in request.resolver_match.url_name %}nav__item_active{% endif %}"><a href="{% url 'registration' %}" class="nav__link link">Регистрация</a></li>
            </ul>
            {% endif %}
        </div>
    </nav>
</header>

