{% extends "recipe/base.html" %}

{% load static %}
{% block title %}Новый пароль{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block content %}
{% load user_filters %}

{% if validlink %}

<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Новый пароль</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" action="{% url 'password_confirm' %}">
            {% csrf_token %}
            <div class="form__group">
                <label for="{{form.old_password.id_for_label}}" class="form__label">Старый пароль</label>
                <div class="form__field-group">
                    {% field in form %}
                    {{ field|addclass:"form__input" }}
                    {% endfor %}
                </div>
            </div>
        </div>    
{% else %}
<div class="main__header">
    <h1 class="main__title">Ошибка. Ссылка сброса пароля содержит ошибку или устарела.</h1>
</div>
{% endblock %}